<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<h1 id="apptitle">Sample App</h1>
	
	<div>
		<form action="greet" method="POST">
			{% for message in get_flashed_messages() %}
				<p>{{ message }}</p>
			{% endfor %}
			<br>
			<input type="text" name="name_input" placeholder="Enter your name">
			<br> 
			<input type="submit" value="GREET" id="greet">
		</form>
	</div>
	
</body>
</html>